---
export interface Props {
	title: string;
}

import DarkModeToggle from "../components/DarkModeToggle";

const { title } = Astro.props;

import "@fontsource/merriweather";
---

<script>
	import { darkMode } from "../lib/darkMode"

	const [_, setDark] = darkMode

	if (
		localStorage.theme === "dark" ||
		(!("theme" in localStorage) &&
			window.matchMedia("(prefers-color-scheme: dark)").matches)
	) {
		document.documentElement.classList.add("dark");
		setDark(true)
	} else {
		document.documentElement.classList.remove("dark");
	}

	window
		.matchMedia("(prefers-color-scheme: dark)")
		.addEventListener("change", (e) => {
			if (e.matches) {
				document.documentElement.classList.add("dark");
				localStorage.theme = "dark";
				setDark(true)
			} else {
				localStorage.theme = "light";
				document.documentElement.classList.remove("dark");
				setDark(false)
			}
		});

</script>

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="dark:bg-slate-900 dark:text-slate-300 p-4 transition-colors duration-400">
		<DarkModeToggle client:load />
		<slot />
	</body>
</html>
